*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252B42;
	font-weight: 500;
	font-family: Montserrat;
}

/*-----------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	/*скрываем все, что не влезло*/
	display: flex;
	flex-direction: column;
	/*отрываем подвал от шапки*/
}

/*------------------------------------------------------*/
._container {
	max-width: 1046px;
	/*величина контентной части*/
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
	/*создаем padding контейнеру*/
}

/*image on the background*/
._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}

.header-block__title {
	line-height: 142%;
	font-weight: 700;
	font-size: 40px;
}

.header-block__title:not(:last-child) {
	padding-bottom: 10px;
}

@media (max-width:992px) {
	.header-block__title {
		font-size: 35px;
	}
}

@media (max-width:767px) {
	.header-block__title {
		font-size: 30px;
	}
}

.header-block__subtitle {
	color: #737373;
	line-height: 142%;
}

/* =================HEADER====================================== */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

@media (max-width:479px) {
	.header__container {
		min-height: 70px;
		/*адаптация размера шапки для мелких телефонов*/
	}
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}

.header__menu {
	margin: 0px 0px 0px 133px;
}

@media(max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}

@media(max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
		/*уменьшаем размер отступа от логотипа для телефона*/
	}
}

@media(max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}

.menu {
	padding: 5px 0;
	/*отступ безопасности от прилипания контента к верхней части экрана при переполнении*/
}

.menu__list {
	flex-wrap: wrap;
	display: flex;
}

.menu__item:not(:last-child) {
	/*делаем внутренний отступ для всех, кроме последнего элемента*/
	margin: 0px 21px 0px 0px;
}

.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}

@media(max-width: 479px) {
	.menu__link {
		font-size: 18px;
		/*увеличиваем шрифт для маленьких мобилок за счет уменьшения отступов*/
	}
}

/*---------------------------------------------page-----------------------------------------*/
.page {
	flex: 1 1 auto;
	/*отделяем шапку от подвала*/
}

.page__main-block {}

.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
	/*наложение блоков на блок повыше*/
}

.page__advantages {}

/* ---------------------------main block---------------------------------------- */

.main-block {
	position: relative;
}

.main-block__container {}

.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}

@media(max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}

@media(max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}

.main-block__body>*:not(:last-child) {
	/*выбраны все элементы первого уровня - одной строчкой заданы отступы для всех входящих в блок элементов. Применимо на случай, если тексты и блоки будут меняться*/
	margin: 0 0 35px 0;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 800;
}

@media(max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}

.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}

@media(max-width:479px) {
	.main-block__text {
		color: #585757;
	}
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}

.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0;
}

/*увеличиваем размер кнопок при уменьшении экрана*/
@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}

/*убираем лишний пробел между кнопками*/
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}

.main-block__button_orange {
	color: #fff;
	background: #FF7B47;
}

.main-block__button_border {
	color: #0d5c63;
	border: #0d5c63 solid 1px;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*женщина начинает пропадать при обрезке 1330пк. Позиционируем по правому краю*/
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 992px) {
	.main-block__image img {
		/*т.к. фон сайта белый, то можно высветлить картинку за счет добавления прозрачности. Делаем это, чтобы при наложении надписей на картинку - надписи сохранялись*/
		opacity: 0.5;
	}
}

/*-------------------Service block--------------------------------*/
.services {}

.services__container {}

@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
		/*компенсируем margin дочерних элементов column*/
	}
}

.services__column {
	flex: 0 1 33.333%;
	/* колонка занимает треть ширины с необходимыми отступами*/
}


@media (min-width: 670px) {
	.services__column {
		padding: 0 15px;
	}

}

@media (max-width: 992px) {

	/*растягиваем размер контента для мелкого разрешения -2 колонки*/
	.services__column {
		flex: 0 1 50%;
	}

	.services__column:not(:last-child) {
		margin: 0 0 30px 0;
	}

	.services__column:last-child {
		/*третья иконка занимает всю строку*/
		flex: 1 1 100%;
	}
}

.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #FFFFFF;
	padding: 35px;
}

@media(max-width:479px) {
	.services__item {
		padding: 25px;
	}
}

.item-service {}

.item-service_green {
	background-color: #0D5C63;
}

.item-service_green .item-service__title {
	color: #FFFFFF;
}

.item-service_green .item-service__text {
	color: #FFFFFF;
}

.item-service>*:not(:last-child) {
	/*расстояние между иконкой и текстом*/
	margin: 0px 0px 10px 0px;
}

.item-service__icon {}

.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}

.item-service__text {
	line-height: 143%;
	color: #737373;
}

/* ----------------------Advantages Block----------------------------------- */

.advantages {
	padding: 80px 0;
}

@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}

@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
}

.advantages__container {}

.advantages__header {
	margin-bottom: 50px;
}

@media(max-width:767px) {
	.advantages__header {
		margin-bottom: 25px;
	}
}

.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}

.advantages__column {
	padding: 0px 15px;
	margin-bottom: 30px;
	flex: 0 1 25%;
}

@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}

.advantages__item {
	font-weight: 700;
	background-color: #fff;
	padding: 30px;
	text-align: center;
}

.advantages__item>*:not(:last-child) {
	margin: 0 0 10px 0;
}

.advantages__icon {
	/* выравниваем высоту иконок по самому высокому элементу */
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.advantages__value {
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}

.advantages__text {
	font-size: 16px;
	color: #737373;
	line-height: calc(24/16*100%);
	letter-spacing: 0.1px;
}

/* ---------------------------------practice block---------------- */
.page__practice {}

.practice {}

.practice__container {}

.practice__header {}

.header-block {}

.header-block__title {}

.header-block__subtitle {}

.practice__body {}

.practice__column {}

.practice__item {}

.item-practice {}

.item-practice__link {}

.item-practice__title {}

.item-practice__text {}

.item-practice__img {}

._ibg {}

/*-------------------------------------FOOTER----------------------------------------------*/